<!doctype html>
<html>
<head>
    <title>GAMMA - Your decentralized venture fund</title>

<meta name="viewport" content="width=device-width, initial-scale=0.7">

<link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<link rel="stylesheet" href="/style/v1.css">


{% block head_content %}{% endblock %}


</head>
<body class="{% block body_class %}{{ current_page }}{% endblock %}">


{% block body_header_content %}

<div class="header-div">

    <div class="container">
        <div class="header">
            <ul class="logo_ul">
                <li>

                    <a href="/" class="logo">Gamma</a>
                    <div class="headline">
                        Your decentralized venture fund
                    </div>

                </li>
            </ul>

            <ul class="link_bar">
                <a href="https://github.com/GammaFund/Contract/wiki" target="_blank" class="waves-effect waves-light btn orange accent-3" >About Gamma</a>
            </ul>

        </div>
    </div>
</div>
<div class="nav-bar-container">

    <div class="container">
        <ul class="nav-bar">
            <a href="./" {% if current_page == "home" %}class="selected"{% endif %}><li>Home</li></a>
            <a href="./strategy" {% if current_page == "strategy" %}class="selected"{% endif %}><li>Strategy</li></a>
            <a href="./our-team" {% if current_page == "our-team" %}class="selected"{% endif %}><li>Our Team</li></a>
        </ul>

    </div>
</div>

{% endblock %}


{% block body_content %}{% endblock %}



{% block body_footer_content %}


<div class="full_block footer_block">
    <div class="container">

        <nav>
            <div class="nav-wrapper">
                &copy; 2017 gammafund.org  All rights reserved.
                <ul class="links_ui">
                    {# <li><a href="https://slack.gammafund.org/" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li> #}
                    <li><a href="https://www.facebook.com/gammafund/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    {# <li><a href="https://twitter.com/gammafund" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> #}
                    <li><a href="https://instagram.com/gammafund" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/GammaFund" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="mailto:contact@gammafund.org"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </nav>

    </div>
</div>

{% endblock %}



{% block body_footerscript_content %}

{% endblock %}


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109507368-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109507368-1');
</script>



</body>
</html>
