
{% extends "base.html" %}


{% block body_content %}



<div class="">
    <div class="container">
        <div class="row">

            <div class="col l12 s12">

                <div class="initiative-content">

<h4>Initiative Summary</h4>



<h5>Introduction</h5>

<p>The <b>GammaFund</b> is a 4-year project with the initiative of bringing Man + Machine together for a better management model of the fund. With the business logic defined with the smart contract, we are able to operate the fund with a transparent and manageable way.</p>

{# <p>The graph below gives an overview of GammaFund's lifecycle, illustrating the actions of different stakeholders in the Man + Machine way (off or on Blockchain).</p> #}

<h5>GammaFund's Three Stages</h5>

<p>There will be three key stages in the life-cycle of GammaFund, including:</p>

<ul>
    <li>Stage One - Initial Coin Offering (ICO)</li>
    <li>Stage Two - Investment Period (FY1 to FY3), and</li>
    <li>Stage Three - Harvest period (FY4)</li>
</ul>

<h5 class="section-title">Stage One - Initial Coin Offering (ICO) period</h5>

<p><u>Step A: ICO</u></p>

<p>In this period we accept deposit from Ether holders. When the fundraising target is met, the fund can continue to operate. Otherwise the fund will return all capital raised to all token holders. During this period, the GammaFund token holders (once one deposits Ethers to buy GammaFund tokens, he/she becomes a GammaFund token holder) will be able to withdraw their investment from the GammaFund fund. Once ICO ends, the withdrawal of fund will be disabled.</p>

<h5 class="section-title">Stage Two - Investment Period (FY1 to FY3)</h5>

<p><u>Step B: Token holders to kickoff each of fiscal year 1 to 3 in this period</u></p>

<p>After ICO ends, the GammaFund token holders will vote on blockchain to kickoff the first fiscal year to commence the operation of the GammaFund fund. Once kickoff is approved by the token holders, the total management fee (8% in total for four years) will be reserved, and the management fee for FY1 will be allocated from the reserve to the management team. Before FY2 and FY3 starts, the GammaFund token holders will also vote to kickoff each fiscal year to authorize the management team to continue to operate the fund and allocate management fee for each year. </p>

<p><u>Step C: Project team to submit business plans</u></p>

<p>In this step, the fund is operating and the GammaFund community is open to review business plans from project teams who are interested to participate in the GammaFund fund. There will be a forum (building in progress) to facilitate the communications among token holders, also with the project teams and management team. Project teams will submit their business plans along with other information about the team and project to this forum following a set of requirements, which is to be announced soon, so as to present to the community a real business idea/ prototype/ product. </p>

<p><u>Step D: Management team to whitelist business plans</u></p>
<p>Once the GammaFund community receives business plan submissions, management team will screen the business plans and put them into a whitelist. Only the projects on the whitelist will be proceeded further to the next step for the GammaFund token holders to vote on. The intention of the whitelisting is to encourage the community's participation by presenting meaningful projects to be considered. </p>

<p><u>Step E: Project Voting</u></p>
<p>The GammaFund token holders will jointly decide whether to invest in projects that are on the whitelist. For each project, the GammaFund token holders who are in favor of a project will put a vote to support it within a 15-day voting period. The voting period for each project will be announced after it is whitelisted. The weight of the vote for each token holder is decided by the number of GammaFund tokens that he/she possesses. The quorum required for the GammaFund community to approve the intention of investment is 20% of total number of tokens issued. The result will be checked at the end of the voting period. If the voting result of a project reaches the quorum, the project will be proceeded to the next step.</p>

There are some points that are worthy to be noticed.

The voting in this step conducted off blockchain, which means the voter doesn't not need to vote through any blockchain operation.
The tokens possessed by a voter will not be locked after the voting. Instead, the GammaFund token holders can still trade or transfer their tokens right after the voting.

<p><u>Step F: Due diligence by management team</u></p>
<p>The management team will conduct due diligence on the projects that are approved by the GammaFund community. The due diligence may require some work on the field with the project teams and their team members.</p>

After the due diligence is completed, he management team will provide a report to the community, along with their opinion regarding the investment decision. If result of the due diligence is positive, the investment will be planned with a injection schedule and project milestones to be checked.

<p><u>Step G: Invest in projects</u></p>
<p>The management team will execute the "Invest" action to transfer fund required by the project to their address. Before the execution, a lot of offline work will be conducted by the management team, such as aligning with the project team about the investment scheme for example how much equity of the project team will be in exchange to the funding, how many rounds of injections will be planned and what delivery needs to be checked each time before the injection etc.</p>

<p><u>Step H: Project execution</u></p>
<p>The project team will do their work to develop their ideas or projects per their business plan, after receiving the funding from GammaFund, striving to deliver what is agreed in the investment scheme in step G.</p>

<p><u>Step I: Post-investement management</u></p>
<p>The management team will maintain regular communications with the project teams that are invested to understand the project's progress and expected results. They will also share the information collected with the GammaFund community to let them have a clear picture what is going on with the projects.</p>

<p>The management team will also provide advice to the project teams as to how to develop the projects to ensure more solid delivery.</p>

<p>Important: Freeze/ Unfreeze the fund</p>
Anytime during the Investment Period, each of the GammaFund token holders has the right to vote with their opinion to "freeze" or "unfreeze" the GammaFund fund.

<p>If the voting for freezing the fund reaches the quorum (50%), the fund will immediately enter into frozen state. All the capital in the GammaFund fund will be collected together and token holders will be available to collect their return in proportion to the total tokens issued. Note that in this case, only the existing capital will be returned, the investments that are already invested in some projects, if there is any, will not be collected back.</p>

<p>Before the voting reaches the quorum, any token holder who has voted to freeze the fund, can choose to rewind his/her decision by voting to unfreeze the fund. In this way his/her previous vote with the same address to freeze the fund will be neutralized (but not countering the freeze votes from other addresses).</p>

<p>Once the voting quorum is reached and the fund is officially frozen, there is no way to unfreeze the fund. So please be discrete with your decision to vote to freeze the fund and collect your investment back in this way.</p>

<h5 class="section-title">Stage Three - Harvest Period (FY4)</h5>

<p><u>Step J: Token holders to kickoff of fiscal year 4</u></p>
<p>Fiscal year 4 is the harvest period of the GammaFund fund. As the same practice for FY1 to FY3, the token holders will vote to kickoff fiscal year 4 as well.</p>

<p><u>Step K: Token holders to decide to start harvesting</u></p>
<p>After fiscal year 4 starts, the token holders will vote to decide whether to start the harvesting process, which is to authorize the management team to start seeking exit options for the projects that are invested. The required quorum is 20% for this step.</p>

<p><u>Step L: Management team to seek project exit</u></p>
<p>As part of the harvesting process, the management team will commence to seek opportunities for exiting the projects that are invested, and bring the options to the project teams.</p>

<p><u>Step M: Project team to agree with exit terms</u></p>
<p>The project team will discuss with GammaFund management team about exit strategies, review the options available and enter into agreement with the GammaFund fund on exit terms, followed by the execution of exit.</p>

<p><u>Step N: Distribute fund</u></p>
<p>After all projects are exited and their returns are collected back to the GammaFund fund, 80% of all the available funds will be distributed to an account for the token holders to claim their returns. The rest of 20% will be distributed to the management team as their carry interest.</p>

<p><u>Step O: Token holders to collect returns</u></p>
<p>Now the token holders will be able to claim their return from the GammaFund fund. The return will be based on the number of tokens in their hands, in proportion to the total number of tokens issued. Once claimed, the returns will be sent to the token holder's wallet, and the GammaFund tokens will be collected back by the fund.</p>



                </div>

            </div>

        </div>
    </div>
</div>



{% endblock %}






{% block body_footerscript_content %}

<script type="text/javascript">

</script>


{% endblock %}

