
{% extends "base.html" %}


{% block body_content %}



<div class="">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">

<h4>Our Team</h4>



<div class="team-section-title">Core Members</div>

<div class="team-members row">
    <div class="team-member-box col l3 m4 s12">
        <div class="team-member-avator"><img src="/images/member/avator.png"></div>
        <div class="team-member-name">David Henderson</div>
        <div class="team-member-title">CEO</div>
    </div>

    <div class="team-member-box col l3 m4 s12">
        <div class="team-member-avator"><img src="/images/member/avator.png"></div>
        <div class="team-member-name">Damien Williams</div>
        <div class="team-member-title">CFO</div>
    </div>

    <div class="team-member-box col l3 m4 s12">
        <div class="team-member-avator"><img src="/images/member/marcel.png"></div>
        <div class="team-member-name">Marcel Butucea</div>
        <div class="team-member-title">COO / Data Analyst</div>
    </div>

    <div class="team-member-box col l3 m4 s12">
        <div class="team-member-avator"><img src="/images/member/william.png"></div>
        <div class="team-member-name">William Lau</div>
        <div class="team-member-title">Programme Technical Director</div>
    </div>
</div>


<div class="team-section-title">Advisors</div>

<div class="team-members row">
    <div class="team-member-box col l3 m6 s12">
        <div class="team-member-avator"><img src="/images/member/avator.png"></div>
        <div class="team-member-name">Robert lomnitz</div>
        <div class="team-member-title">Financial Advisor</div>
    </div>

    <div class="team-member-box col l3 m6 s12">
        <div class="team-member-avator"><img src="/images/member/avator.png"></div>
        <div class="team-member-name">Jason Corbett</div>
        <div class="team-member-title">Legal Advisor</div>
    </div>

    <div class="team-member-box col l3 m6 s12">
        <div class="team-member-avator"><img src="/images/member/henri.jpg"></div>
        <div class="team-member-name">Henri Chan</div>
        <div class="team-member-title">Legal Advisor</div>
    </div>
</div>



            </div>

        </div>
    </div>
</div>


<div style="height: 100px;"></div>


{% endblock %}






{% block body_footerscript_content %}



{% endblock %}

