
{% extends "base.html" %}


{% block body_content %}



<div class="">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">



        <h4>Our Team</h4>


        <div class="team-section-title">Core Members</div>


        <div class="team-members row">
          <div class="team-member-box col l3 m4 s12">
            <div class="team-member-avator"><img src="/images/member/marcel.png"></div>
            <div class="team-member-name">Marcel Butucea</div>
            <div class="team-member-title">COO / Data Analyst</div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/marcelbutucea/" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="https://twitter.com/marcel_butucea" target="_blank" alt="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>

          <div class="team-member-box col l3 m4 s12">
            <div class="team-member-avator"><img src="/images/member/william.png"></div>
            <div class="team-member-name">William Lau</div>
            <div class="team-member-title">Programme Technical Director</div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/cwlau/" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="https://github.com/cwlau" target="_blank" alt="GitHub">
                <i class="fa fa-github"></i>
              </a>
            </div>
          </div>

          <div class="team-member-box col l3 m6 s12">
            <div class="team-member-avator"><img src="/images/member/henri.jpg"></div>
            <div class="team-member-name">Henri Chan</div>
            <div class="team-member-title">Chief Legal Officer</div>
            <div class="team-member-social">
              <a href="https://twitter.com/henri_law_chan" target="_blank" alt="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>


        <div class="team-section-title">Advisors</div>

        <div class="team-members row">

          <div class="team-member-box col l3 m4 s12">
            <div class="team-member-avator"><img src="/images/member/david.jpg"></div>
            <div class="team-member-name">David Henderson</div>
            <div class="team-member-title">Business Advisor</div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/dchenderson1/" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="team-member-box col l3 m4 s12">
              <div class="team-member-avator"><img src="/images/member/damien.jpg"></div>
              <div class="team-member-name">Damien Williams</div>
              <div class="team-member-title">Financial Advisor</div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/damien64/" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="team-member-box col l3 m6 s12">
            <div class="team-member-avator"><img src="/images/member/robert.jpg"></div>
            <div class="team-member-name">Robert lomnitz</div>
            <div class="team-member-title">Financial Advisor</div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/robert-lomnitz-b1745a1b/" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

          <div class="team-member-box col l3 m6 s12">
            <div class="team-member-avator"><img src="/images/member/avator.png"></div>
            <div class="team-member-name">Jason Corbett</div>
            <div class="team-member-title">Legal Advisor</div>
            <div class="team-member-social">
              <a href="https://www.linkedin.com/in/drjasoncorbett/" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>


<div style="height: 60px;"></div>


{% endblock %}






{% block body_footerscript_content %}



{% endblock %}

