
{% extends "base.html" %}


{% block body_content %}



<div class="">
    <div class="container">
        <div class="row">

            <div class="col l12 s12">

                <div class="strategy-content">

<h4>Strategy</h4>

<p><b>Gamma</b> will allocate a proportion of its yearly funds to different investment opportunities:</p>

<ul class="allocation">
    <li>10% will be allocated to riskier ICO investments, such as pioneering projects with long term goals but a higher degree of uncertainty</li>
    <li>25% of the funds will be used to invest in blue chip companies through typical stock exchange channels</li>
    <li>30% of the funds will be used for minimal risk investments such as covering positions in the stock market by selling call options or mature markets real estate investments whose rent revenue can transcend yearly allocations</li>
    <li>15% will be used to maintain a dynamic exposure in the top 20 cryptocurrencies</li>
    <li>20% will be allocated to startups outside the crypto ecosystem</li>
</ul>

<p>The members participating in the ICO will be given the opportunity to vote on the above percentages and any of the investment opportunities where appropriate.</p>

<p>No matter how much we diversify our investments, it's impossible to get rid of all the risk. As investors, yes Gamma Founders are also investors in our own fund, we deserve a rate of return that compensates us for taking on risk. The capital asset pricing model (CAPM) helps us to calculate investment risk and what return on investment we should expect. Here we take a closer look at how it works.</p>

<h4>Model Design</h4>

<p>The capital asset pricing model was the work of financial economist (and later, Nobel laureate in economics) William Sharpe, set out in his 1970 book "Portfolio Theory and Capital Markets." His model starts with the idea that individual investment contains two types of risk:</p>

<ol>
    <li><i>Systematic Risk</i> – These are market risks that cannot be diversified away. Interest rates, recessions and wars are examples of systematic risks.</li>
    <li><i>Unsystematic Risk</i> – Also known as "specific risk," this risk is specific to individual stocks and can be diversified away as the investor increases the number of stocks in his or her portfolio. In more technical terms, it represents the component of a stock's return that is not correlated with general market moves.</li>
</ol>

<p>
Modern portfolio theory shows that specific risk can be removed through diversification. The trouble is that diversification still doesn't solve the problem of systematic risk; even a portfolio of all the shares in the stock market can't eliminate that risk. Therefore, when calculating a deserved return, systematic risk is what plagues investors most. CAPM, therefore, evolved as a way to measure this systematic risk.</p>

<h4>The Formula</h4>

<p>
Sharpe found that the return on an individual stock, or a portfolio of stocks, should equal its cost of capital. The standard formula remains the CAPM, which describes the relationship between risk and expected return.</p>

<p>Here is the formula:</p>

<p><div class="img-container"><img src="/images/strategy__formula.png" style="width: 300px" /></div></p>

<p>
CAPM's starting point is the risk-free rate – typically a 10-year government bond yield. To this is added a premium that equity investors demand to compensate them for the extra risk they accept. This equity market premium consists of the expected return from the market as a whole less the risk-free rate of return. The equity risk premium is multiplied by a coefficient that Sharpe called "beta."</p>

<h4>Beta</h4>

<p>
According to CAPM, beta is the only relevant measure of a stock's risk. It measures a stock's relative volatility – that is, it shows how much the price of a particular stock jumps up and down compared with how much the stock market as a whole jumps up and down. If a share price moves exactly in line with the market, then the stock's beta is 1. A stock with a beta of 1.5 would rise by 15% if the market rose by 10% and fall by 15% if the market fell by 10%.</p>

<p>Beta is found by statistical analysis of individual, daily share price returns, in comparison with the market's daily returns over precisely the same period. In their classic 1972 study "The Capital Asset Pricing Model: Some Empirical Tests," financial economists Fischer Black, Michael C. Jensen and Myron Scholes confirmed a linear relationship between the financial returns of stock portfolios and their betas. They studied the price movements of the stocks on the New York Stock Exchange between 1931 and 1965.</p>

<p><div class="img-container"><img src="/images/strategy__capm_vs_beta.png" /></div></p>

<p>Beta, compared with the equity risk premium, shows the amount of compensation equity investors need for taking on additional risk. If the stock's beta is 2.0, the risk-free rate is 3%, and the market rate of return is 7%, the market's excess return is 4% (7% - 3%). Accordingly, the stock's excess return is 8% (2 X 4%, multiplying market return by the beta), and the stock's total required return is 11% (8% + 3%, the stock's excess return plus the risk-free rate).</p>

<p>What this shows is that a riskier investment should earn a premium over the risk-free rate – the amount over the risk-free rate is calculated by the equity market premium multiplied by its beta. In other words, it's possible, by knowing the individual parts of the CAPM, to gauge whether or not the current price of a stock is consistent with its likely return – that is, whether or not the investment is a bargain or too expensive.</p>

<h4>What CAPM Means for You</h4>

<p>
This model presents a very simple theory that delivers a simple result. The theory says that the only reason an investor should earn more, on average, by investing in one stock rather than another is that one stock is riskier. Not surprisingly, the model has come to dominate modern financial theory. But does it really work?</p>

<p>It's not entirely clear. The big sticking point is beta. When professors Eugene Fama and Kenneth French looked at share returns on the New York Stock Exchange, the American Stock Exchange and Nasdaq between 1963 and 1990, they found that differences in betas over that lengthy period did not explain the performance of different stocks. The linear relationship between beta and individual stock returns also breaks down over shorter periods of time. These findings seem to suggest that CAPM may be wrong.</p>


<p><div class="img-container"><img src="/images/strategy__avg_return_vs_beta.png" /></div></p>


<p>While some studies raise doubts about CAPM's validity, the model is still widely used in the investment community. Although it is difficult to predict from beta how individual stocks might react to particular movements, investors can probably safely deduce that a portfolio of high-beta stocks will move more than the market in either direction, and a portfolio of low-beta stocks will move less than the market.</p>
<p>This is important for investors – especially fund managers – because they may be unwilling to or prevented from holding cash if they feel that the market is likely to fall. If so, they can hold low-beta stocks instead. Investors can tailor a portfolio to their specific risk-return requirements, aiming to hold securities with betas in excess of 1 while the market is rising, and securities with betas of less than 1 when the market is falling.</p>
<p>Not surprisingly, CAPM contributed to the rise in use of indexing – assembling a portfolio of shares to mimic a particular market – by risk-averse investors. This is largely due to CAPM's message that it is only possible to earn higher returns than those of the market as a whole by taking on higher risk (beta).</p>

<h4>The Bottom Line</h4>
<p>The capital asset pricing model is by no means a perfect theory. But the spirit of CAPM is correct. It provides a usable measure of risk that helps investors determine what return they deserve for putting their money at risk.</p>

                </div>

            </div>

        </div>
    </div>
</div>



{% endblock %}






{% block body_footerscript_content %}

<script type="text/javascript">

</script>


{% endblock %}

